body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#info{
	height: 300px; 
	width: 320px; 
	text-align: center; 
	color:black; 
	margin-top: 100px;
	background-color:#0c9fc6;
	box-shadow: 1.5px 1.5px 2px grey; 
	border-radius:10px;
}
input{
		background: none;
		font-size: 13px;
        border-color: #0c9fc9; 
        padding: 7px;
        border-radius: 10px;
		text-decoration-color: white;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid white; 
		background: none;
}
input[type=button]{
	height: 70px; 
	width: 100px; 
	background-color: #0c9fc6; 
	font-size: 20px;   
	border: none; 
	border-radius:10px; 
	color:white;
	cursor: pointer;
}
input[type=button].hover{
	background-color: #82d1f8;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.19);
}
::placeholder{
    color: white;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder{ /* Microsoft Edge */
    color: white;
}
::-webkit-input-placeholder {
	color: white;
}