body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#tab{
	background-color: #0c9fc6;
	margin-top: 10px;
	margin-left: 20px;
	height: 70px;
	width: fill;
    box-shadow: 1.5px 1.5px 2px grey;
}
ul{
	list-style-type: none;
	display: inline-flex;
	margin-before: 1em;
	margin-after: 1em;
	margin-start: 0;
	margin-end: 0;
	padding-start: 40px;
	padding: 0px;
}
li{
	background-color: #0c9fc6; 
    background-repeat: no-repeat;
    background-size: 40px;  
    border: none;
    cursor: pointer;        
    font-size: 20px;
    line-height: 70px;
    height: 70px; 
    width: 300px;
    color: white;
}
li:hover{
    background-color: #82d1f8;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.19);
}
#tab1{
	background-color: #3a8ba2;
	text-indent: 35%;
	background-position: 20% 50%;
	background-image: url("images/add.png");
}
#tab2{
	text-indent: 40%;
	background-position: 25% 50%;
	background-image: url("images/track.png");
}
#tab3{
	text-indent: 42%;
	background-position: 30% 50%;
	background-image: url("images/request.png");
}
#tab4{ 
	text-indent: 45%;
	background-position: 35% 50%;
	background-image: url("images/delete.png");
}
.AddDiv{
	width: 300px;
    text-decoration-color: white;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid white; 
	background: none;
	font-size: 13px; 
	text-indent: 3px;
    color: white; 
}
#AddDiv{
	width: 400px; 
	height: 450px; 
	background-color:#0c9fc6; 
	margin: 0 auto; 
	padding: 20px; 
	text-align: center; 
	box-shadow: 1.5px 1.5px 2px grey; 
	border-radius:10px;
}
::placeholder{
    color: white;
    opacity: 1; 
}

:-ms-input-placeholder{ 
    color: white;
}

::-ms-input-placeholder{ 
    color: white;
}
::-webkit-input-placeholder{
	color: white;
}
#btnAdd{
	background-color: #0c9fc6;
	margin-top: 20px; 
	border: none; 
	border-radius:10px; 
	color:white;
	cursor: pointer;
	height: 50px; 
	width: 100px; 
}
input[type=button]:hover
{
    background-color: #82d1f8;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.19);
}
#blur{
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    background:rgba(0,0,0,0.5);
    display:none;
}
#sh{
    width: 300px; 
    height: 100px;
    text-align: center;
    line-height: 90px; 
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display:none;
    border-radius: 5px;
    background : black;
    color:white;
}